<footer class="footer">
  <div class="container-fluid">
    <div class="row justify-content-around">
      <div class="col-md-10">
        <h5 class="title">apphome-spa</h5>
        <p class="description">
          Syncfusion Essential JS 2 for Angular is a modern Angular UI Components library that has been built from the ground up to be lightweight, responsive, modular and touch friendly.
        </p>
      </div>
      <div class="col-md-2">
        <ul class="list-unstyled">
          <li>
            <a class="footerlink" target="_blank" href="https://ej2.syncfusion.com/angular/documentation/" title="Help" aria-label="Help">
              Help
            </a>
          </li>
          <li>
            <a class="footerlink" target="_blank" href="https://ej2.syncfusion.com/angular/demos" title="Online Samples" aria-label="Online Samples">
              Online Samples
            </a>
          </li>
          <li>
            <a class="footerlink" target="_blank" href="https://www.syncfusion.com/support/directtrac/incidents" title="Support" aria-label="Support">
              Support
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
