<div class="skipLink">
  <a [href]="skipLinkPath" title="Skip to Main Content" aria-label="Skip to Main Content">
    Skip to Main Content
  </a>
</div>
<nav
  class="navbar navbar-expand-sm navbar-light border-bottom justify-content-between"
>
  <a class="navbar-brand" routerLink="" title="apphome-spa" aria-label="apphome-spa" role="heading" aria-level="1">
    App Home
  </a>
  <div class="navbar-nav">
    
    <a class="nav-item nav-link active" routerLink="/app-home" title="Grid" aria-label="Grid">
      App Home
    </a>
    <a class="nav-item nav-link active" routerLink="/grid" title="Grid" aria-label="Grid">
      Grid
    </a>
    <a class="nav-item nav-link active" routerLink="/chart" title="Chart" aria-label="Chart">
      Chart
    </a>
    <a class="nav-item nav-link active" routerLink="/schedule" title="Schedule" aria-label="Schedule">
      Schedule 
    </a>
  </div>
</nav>
