<div class="skipLink">
  <a [href]="skipLinkPath" title="Skip to Main Content" aria-label="Skip to Main Content">
    Skip to Main Content
  </a>
</div>
<nav
  class="navbar navbar-expand-sm navbar-light border-bottom justify-content-between"
>
  <a class="navbar-brand" routerLink="" title="apphome-spa" aria-label="apphome-spa" role="heading" aria-level="1">
    App Home
  </a>
  <div class="navbar-nav">
    <a class="nav-item nav-link active" routerLink="/app-home/role" title="Role" aria-label="Role">
      Role
    </a>
    <a class="nav-item nav-link active" routerLink="/app-home/category" title="Category" aria-label="Category">
      Category
    </a>
    <a class="nav-item nav-link active" routerLink="/app-home/bpfc" title="BPFC" aria-label="BPFC">
      BPFC
    </a>
    <a class="nav-item nav-link active" routerLink="/app-home/user" title="User" aria-label="User">
      User 
    </a>
    <a class="nav-item nav-link active" (click)='signOut()'>
      Sign-Out
    </a>
  </div>
</nav>
